<div class="divTrash">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">
					<div class="image-avatar">
						<img id="avatar" src="{{this.avatar}}" alt="">
						<p id="handle" class="card-title">{{this.handle}}</p>
					</div>
					<span class="twitter">{{this.source}} |</span><span id="timestamp">{{this.timestamp}}</span>
					<p id="score">Score: {{this.score}}</p>
					<p id="content" class="card-text">{{this.content}}.</p>
				</div>
			</div>
		</div>
	</div>
</div>

